## Master page template
#from time import ctime

## Header
<html>
<head>
<title>
TSmells Pieces Tests
</title>
<head>
<body>
<center>
<h1>
TSmells Pieces Tests
</h1>
</center>

## Body
#block body

## Show error if this page is shown
<h1><center><font color="RED">
OOOPS!
</font></center></h1>

#end block body

## Footer
<hr />
    <center><font size="-1">
        Generated $ctime() by <a href="mailto:manuel.breugelmans@student.ua.ac.be">Manuel Breugelmans</a>
    </font></center>
</body>
